<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	th:fragment="layout(content)">
<head>
<meta charset="UTF-8" />
<title>Document</title>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
	integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
	crossorigin="anonymous">
<title th:text="${title}">base html</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

	<!--  start side bar -->
	<div class="sidebar mt-2 " id="mysidebar" th:fragment="sidebar">
		<a class="active mt-5"  href="#home">Home</a> 
		<a th:href="@{demo}" >Demo</a> 
		<a th:href="@{otp}">OTP</a>
		<a th:href="@{bio}">Bio</a>
	</div>
	<!--  End side bar -->

	<!--  start content bar -->
	<div class="content  ">
		<div class="container-sm ">
	
		<!-- form  -->
		<form class="row g-3" method="post" th:action="home" >
			<h2> <span style="color: blue"> User data  </span> </h2>

				
				<div class="col-md-5">
					<label class="form-label">First name</label> <input
						type="text" name="fname" class="form-control" >
				</div>
				<div class="col-md-5">
					<label class="form-label">last name</label> <input
						type="text" name="lname" class="form-control" >
				</div>
				
				<div class=" mt-4 row">
					<!-- radio button -->
					<div class="  col-3 ">
						<div class="form-check  ">
							<input class="form-check-input" type="radio"
								name="flexRadioDefault" id="flexRadioDefault1"> <label
								class="form-check-label" for="flexRadioDefault1"> Male </label>
						</div>
						<div class="form-check mt-2 ">
							<input class="form-check-input" type="radio"
								name="flexRadioDefault" id="flexRadioDefault2" checked>
							<label class="form-check-label" for="flexRadioDefault2"> Female </label>
						</div>
					</div>
					<div class="col-2"></div>
					<div class=" ms-3 col-4">
						<label for="start">Start date:</label> <input type="date"
							id="start" name="trip-start" value="2018-07-22">
					</div>
				</div>
				<div class="col-12">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" id="gridCheck">
						<label class="form-check-label" for="gridCheck"> Check me out </label>
					</div>
				</div>
				<div class="col-12">
					<button type="submit" class="btn btn-primary">Sign in</button>
				</div>
			</form>
			
		</div>
	</div>
	<!--  End content bar -->
	
</body>
</html>